.mainContainer{
   
    max-width: 1024px;
    margin:0 auto;
}


.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.logoContainer{
    width: 50px;
    height: 50px;
}


.logo{
    width:50%;
    

    

}
.atagcontainer{
    display: inline;
    font-size: 16px;
    
    
    
    margin-left:242px;
    margin-top:10px;
    
    
}

.menueItem{
    
    margin-left:30px;
    text-decoration: none;
    color:inherit;
    
}
.menueItem:hover{
    border-bottom-style:solid ;
    border-bottom-color:rgb(217, 34, 186);
   
}



.left{
    
 
    width: 50%;
   
    padding-bottom: 20px; 
   
}
    

.right{
    display:inline;
    width:50%;
}

.rightPhoto{
    
    width:90%;

}
   
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%; 
    margin-top: 30px;
    
}


.footer{
  
   text-align: center;
   font-size: 50px;
   color:rgb(166, 9, 239);
   margin-top: 40px; 

}
.appStore2{
    width:185px;
    height:65px;
    margin-top:5px;
    
}
.appStore1{
   
    width:185px;
    height:65px;
    

}
.twologo{
    display:flex;
    flex-direction: column;
    
   
}

.blockElement{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    background-color: rgb(159, 159, 159);
    height:27px;
    width:200px;
    border-radius: 14px;
    outline:none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}
.singIn{
    background-color:#0084ff;
    border-radius: 24px;
    border:none;
    color:#ffff;
    padding: 2px 20px 0px;
    font-size: 19px;
    height: 40px;
    width:99px;
}

.titleHeader{
    margin-bottom:20px;
}
.description{
    margin-bottom: 20px;
}

.mobileMeneContainer{
    display:none;
}
@media(max-width: 800px) {
    .menueContainer{
        display:none;
    }
    .mobileMeneContainer{
        display:block;
    }
}
    
    





